 /* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family= Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900 &family=Oswald:wght@200..700&display=swap')
 /* asterick wildcard selector to overide default styles added by the browser */
*{
    padding: 0;
    margin: o;
    box-sizing: border-box;
}

/*general style*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a;
}
/* header */
header {
    background-color: lightcoral;
}
/* main content */
main{
    background-color: lightblue;
    /*make main element take up any surplus soace to push the footer down*/
    flex: 1 0 auto;
}
/* footer*/
footer{
    background-color: yellow;
}